<%# contentsクラスのdivの中に@tweetsで取得した全てのレコードを表示している %>
<div class="contents row">
  <% @tweets.each do |tweet| %>
  <%# @tweetsで取得したレコード1つ1つをeach文で取り出して、ブロック変数tweetに入れている %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
    <%# 1つのレコードはcontent_postクラスのdivに囲まれており、背景画像に投稿した画像を指定している。%>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <%# image_tag 'ファイル名' app/assets/images/ディレクトリの矢印の画像を追加。 %>
        <ul class="more_list">
          <li><%= link_to '詳細', tweet_path(tweet.id), method: :get %></li>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
          <%# 「ユーザーがサインイン状態かつ、ツイートが自分の投稿であれば」編集と削除ボタンを表示させている。
          条件に当てはまらなくても詳細ボタンは表示される。if文の外側なので。 %>
            <li><%= link_to '編集', edit_tweet_path(tweet.id), method: :get %></li>
            <%# 編集するツイートを区別するためにブロック変数tweetのidをパラメーターに持たせる %>
            <li><%= link_to '削除', tweet_path(tweet.id), method: :delete %></li>
            <%# link_to '表示される文字列', 遷移先のパス(URLorPrefix)削除するツイートを区別するためにブロック変数tweetのidをパラメーターに持たせる, :get以外はmethod:の記述が必要 %>
          <% end %>
        </ul>
      </div>
      <p><%= tweet.text %></p>
      <%# 投稿したテキストを表示している %>
      <span class="name">
        <a href="/users/<%= tweet.user.id %>" > <%# ツイートを投稿したユーザーのshowアクションへのパスは "/users/ツイートしたユーザーのidの値" %>
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
        <%# Tweetモデルはアソシエーションにより、一人のユーザーに属しているため、
        Tweetモデルのインスタンスが入った変数.user と記述することで属しているユーザーモデルのインスタンスを取得できる。
        それを利用して投稿したユーザー名を表示している。 %>
      </span>
    </div>
  <% end  %>
</div>