<div class="contents row">
<%# indexビューと似ているが選択した1つのツイートを表示しているためeachは不要。 %>
  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
      <%# 詳細画面なので詳細ボタンは不要 %>
        <li>
          <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @tweet.text %></p>
    <span class="name">
      <a href="/users/<%= @tweet.user.id %>"><%# ツイートを投稿したユーザーのマイページへのリンク %>
        <span>投稿者</span><%= @tweet.user.nickname %><%# ツイートを投稿したユーザーのニックネームを表示 %>
      </a>
    </span>
  </div>
</div>