<!DOCTYPE html>
<html>
  <head>
    <title>Pictweet2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_link_tag 'cssファイル名' と記述することでapp/assets/stylesheets/ディレクトリの中のcssファイルを読み込んでいる。 %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# どのページでも表示されるheader部分を記述 %>
    <header class="header">
      <div class="header__bar row">
        <%# ロゴ%>
        <h1 class="grid-6"><a href="/">PicTweet2</a></h1>
        <%# ユーザーがサインインしているかでヘッダーの表示を変えている。 %>
        <% if user_signed_in? %>
        <%# サインインしている場合 %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %><%#ログインしているユーザー名を表示。ホバーするとuser__infoの中身がプルダウンで現れる。 %>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", "/users/#{current_user.id}" %><%#パスは "/users/ログインユーザーのidの値 "%>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <%= link_to "投稿する", new_tweet_path, class: "post" %>
          </div>
        <% else %>
        <%# サインインしていない場合 %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <%# どのページでも表示されるfooter部分を記述 %>
    <footer>
      <p>Copyright PicTweet2 2021</p>
    </footer>
  </body>
</html>
